HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Do not store backups ###
/Backups/
/supplierDB/Backups/

### Do not store generated classes ###
/jte-classes/

### Package for local experiments. ###
/src/main/java/zzz/

### API documentation from emag
/emag-marketplace-api-documentation-*.*
