{
  "openapi": "3.0.0",
  "info": {
    "title": "eMAG & FD Marketplace API",
    "version": "4.5.2",
    "description": "eMAG Marketplace API is developed by eMAG for Marketplace partners in order to allow them to use their own CRM's / ERP's.\n\n## Public IPs\n\nSellers integrating with the eMAG & FD Marketplace API must allow the following source IPs on any callback / webhook endpoint they expose to eMAG & Fashion Days.\n\n| IP address       | Notes              |\n|------------------|--------------------|\n| `43.131.5.30`    | Marketplace API    |\n| `91.206.37.14`   | Marketplace API    |\n| `46.174.144.128` | Marketplace API    |\n\nThis list is authoritative — please update your firewall rules whenever this section changes.\n\n**Machine-readable list:** [`public-ips.json`](/public-ips.json) — poll this endpoint to automate firewall updates.\n\n## Recent changes (v4.5.2)\n\n- New resources for adding offers in campaigns:\n  - New endpoint `/campaigns/read` — read campaigns and their participation rules\n  - New endpoint `/campaign_categories/read` — read the categories eligible for a campaign\n  - New endpoint `/campaigns/{campaign_id}/eligible-offers` — read your offers eligible for a campaign\n  - New endpoint `/offers/{extId}/campaign_product_badge_timeline` — read the campaign badges active or scheduled for an offer\n- Updated constraints on /campaign_proposals/save: `stock` is now optional; `max_qty_per_order` is an integer between 0 and 255\n- Added `campaign` key (`id`, `name`) on /product_offer/read — the campaign the offer is live in\n- Added `campaign` key (`id`, `name`) on /order/read at product level — the campaign the product was ordered from\n\nThis API allows you to:\n- Send products and offers (create new, update existing, attach to existing eMAG products by EAN or part_number_key)\n- Update prices, stock, handling time and offer status\n- Save volume measurements on products\n- Read product validation status (the estimated commission per offer is available via a separate REST API)\n- Read categories, characteristics, family types, VAT rates and handling time values\n- Read and process orders (acknowledge, edit, add/remove products, storno)\n- Read order attachments and save invoices, warranties, AWBs, user manuals\n- Issue and read AWBs, download AWB as PDF (A4/A5/A6) or ZPL\n- Manage predefined AWB packages and read product volumetric data\n- Read localities, courier accounts and pickup/return addresses\n- Process return requests (RMA): read, save, count, status changes\n- Read campaigns, their eligible categories and your eligible offers, propose offers in campaigns, read campaign badge timelines and check Smart Deals price thresholds\n- Read invoice categories, invoice data and customer invoice data\n- Receive notifications via callback URLs (new orders, cancellations, new returns & status changes (New, Acknowledged & Received), AWB status, approved documentation)\n\n**Important Notes:**\n- Request body conventions: **save/write** actions wrap their payload in a `data` key (e.g. `{ \"data\": [ {...} ] }`); **read/count** actions take filters and pagination as **top-level keys** of the JSON body (e.g. `{ \"status\": 1, \"currentPage\": 1 }`) — filters wrapped in a `data` key are ignored\n- All API parameters are key-sensitive\n- Every API request must have a response with \"isError\": false. Exception: in the event of a documentation error when saving a product, the API returns \"isError\": true but the new offer is still saved and processed.\n- Maximum 4000 elements per request — exceeding it returns \"isError\": true with the message \"Maximum input vars of 4000 exceeded\"\n- Rate limits: 12 requests/second (720/minute) for orders, 3 requests/second (180/minute) cumulated for all other resources. Exceeding them returns HTTP 429 with body `{\"message\": \"API rate limit exceeded\"}` and `X-RateLimit-Limit-3second` / `X-RateLimit-Remaining-3second` headers. Invalid requests count toward the limit. Avoid scheduling requests at fixed hours (use e.g. 12:04:42 instead of 12:00:00).\n- Bulk save limit: 50 entities per request (recommended: 10-50)\n- Access: the API has IP-level filtering — sellers must provide a list of whitelisted IPs before testing; eMAG Marketplace allows API calls only from those IPs. The API user must be granted API rights.\n- Recommended: set up alerts on API responses and log all calls and responses for a 30-day period.\n\n**Platform locale & default currency:** eMAG RO / FD RO: ro_RO, RON · eMAG BG / FD BG: bg_BG, BGN until 31 Dec 2025 and EUR starting 1 Jan 2026 · eMAG HU: hu_HU, HUF.\n",
    "contact": {
      "name": "eMAG API Support"
    },
    "x-logo": {
      "url": "/mktp-logo.svg",
      "altText": "eMAG Marketplace Logo",
      "href": "/api-doc"
    }
  },
  "servers": [
    {
      "url": "https://marketplace-api.emag.ro/api-3",
      "description": "eMAG Romania Production"
    },
    {
      "url": "https://marketplace-api.emag.bg/api-3",
      "description": "eMAG Bulgaria Production"
    },
    {
      "url": "https://marketplace-api.emag.hu/api-3",
      "description": "eMAG Hungary Production"
    },
    {
      "url": "https://marketplace-ro-api.fashiondays.com/api-3",
      "description": "FD Romania Production"
    },
    {
      "url": "https://marketplace-bg-api.fashiondays.com/api-3",
      "description": "FD Bulgaria Production"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Products & Offers",
      "description": "Manage products and offers"
    },
    {
      "name": "Orders",
      "description": "Process and manage orders"
    },
    {
      "name": "Shipping",
      "description": "Handle shipping and AWB"
    },
    {
      "name": "Returns",
      "description": "Process return requests (RMA)"
    },
    {
      "name": "Categories",
      "description": "Read categories and characteristics"
    },
    {
      "name": "Invoices",
      "description": "Manage invoices"
    },
    {
      "name": "Campaigns",
      "description": "Campaigns, eligible categories and offers, campaign proposals, badge timelines and smart deals"
    }
  ],
  "paths": {
    "/product_offer/read": {
      "post": {
        "tags": [
          "Products & Offers"
        ],
        "summary": "Read products and offers",
        "description": "Read existing products (offers) and their status. Only your own content input on the product will be returned.\n\nFilters and pagination are sent as **top-level keys** of the JSON body (do NOT wrap them in a `data` key — filters wrapped in `data` are ignored and all offers are returned).\n\nThe `status` key returned for each offer can be:\n- `1` — Active: set by the seller when they want to sell the offer\n- `0` — Inactive / Auto-inactivated: set by the seller for temporarily unavailable offers, or set automatically (losing access in the category, losing an EAN conflict, etc.)\n- `2` — End of Life / Auto EOL: set by the seller on offers they no longer want to sell (on save, only for updates), or set automatically by the Auto EOL flow\n\nAfter reading a product, all elements previously sent are returned, along with the key `doc_errors` — not null for products rejected due to improper documentation.\n\nAn offer is available for sale only when: stock > 0, `status` = 1, `offer_validation_status.value` = 1 (valid price) and `validation_status.value` is in an availability-allowed state: 3 (Waiting for EAN approval), 9 (Approved documentation), 11 (Update awaiting approval) or 12 (Update rejected). Note: automatically translated products may not be published even with validation_status 9/11 — check `translation_validation_status` for granularity.\n\nIf the offer is live in a campaign, the response also includes a `campaign` object with the campaign `id` (eMAG internal campaign ID, integer) and `name` (eMAG internal campaign name, string).\n",
        "operationId": "readProductOffers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductOfferReadFilter"
              },
              "example": {
                "status": 1,
                "currentPage": 1,
                "itemsPerPage": 100
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "example": {
                  "isError": false,
                  "messages": [],
                  "results": [
                    {
                      "id": 243409,
                      "part_number_key": "ES0NKBBBM",
                      "number_of_offers": 3,
                      "buy_button_rank": 1,
                      "best_offer_sale_price": 51.6477,
                      "ownership": 1,
                      "category_id": 506,
                      "brand": "Brand test",
                      "name": "Test product",
                      "part_number": "md788hc/a",
                      "sale_price": 51.6477,
                      "status": 1,
                      "campaign": {
                        "id": 243409,
                        "name": "Test campaign"
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "API rate limit exceeded"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/product_offer/save": {
      "post": {
        "tags": [
          "Products & Offers"
        ],
        "summary": "Save product and offer",
        "description": "Send a new product or update an existing offer.\n- For new products: send entire product documentation and all offer data\n- For updates: send only the offer data (id, status, sale_price, vat_id, handling_time, stock)\n\nDraft products: you can send a smaller set of data to publish a new draft product; the information is saved in the eMAG platform and the remaining details can be added at any time. Draft products are not sent to the eMAG Catalogue team for validation until the other details necessary for publishing are sent. If an EAN published on a draft is found in the eMAG catalogue, you can skip the publishing process and attach the offer directly to the existing product.\n\nNote on `isError`: in the event of a documentation error when saving a product, the response returns `isError: true` but the new offer is still saved and processed.\n",
        "operationId": "saveProductOffer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProductOfferSave"
                    },
                    "maxItems": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/product_offer/count": {
      "post": {
        "tags": [
          "Products & Offers"
        ],
        "summary": "Count products and offers",
        "description": "Count existing products and offers based on filters.\nFilters are sent as top-level keys of the JSON body (not wrapped in a `data` key).\n",
        "operationId": "countProductOffers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductOfferReadFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/offer/save": {
      "post": {
        "tags": [
          "Products & Offers"
        ],
        "summary": "Update existing offer (light API)",
        "description": "Update existing offers by changing only offer-specific data. Cannot be used to create new offers or modify product information.\nMandatory key: id\nOptional keys: sale_price, recommended_price, min_sale_price, max_sale_price, currency_type, stock, handling_time, vat_id, status\n",
        "operationId": "saveOffer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OfferSave"
                    },
                    "maxItems": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/documentation/find_by_eans": {
      "get": {
        "tags": [
          "Products & Offers"
        ],
        "summary": "Find products by EAN",
        "description": "Search directly by EAN codes to check if products already exist on eMAG.\nEANs are passed as query parameters: `eans[]=7086812930967&eans[]=5904862975146`.\n\nLimits: up to 100 EAN codes per request (extra codes are ignored with a notification message).\nRate limits: 5 requests/second, 200 requests/minute, 5,000 requests/day.\n\nEach result contains: `eans`, `part_number_key`, `product_name`, `brand_name`, `category_name`,\n`doc_category_id`, `site_url` (not included in Fashion Days responses), `allow_to_add_offer`,\n`vendor_has_offer`, `hotness`, `product_image`.\n",
        "operationId": "findProductsByEAN",
        "parameters": [
          {
            "name": "eans[]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "EAN codes to search for (max 100 per request)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/measurements/save": {
      "post": {
        "tags": [
          "Products & Offers"
        ],
        "summary": "Save volume measurements",
        "description": "Save volume measurements on existing products. Measurement units are millimeters and grams.",
        "operationId": "saveMeasurements",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Measurement"
                    },
                    "maxItems": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/offer_stock/{resourceId}": {
      "patch": {
        "tags": [
          "Products & Offers"
        ],
        "summary": "Update offer stock",
        "description": "Update only the stock of an offer. HTTP method is **PATCH** (not POST).\nThe `resourceId` parameter is the seller internal product id (the primary key identifying a product offer).\n",
        "operationId": "updateOfferStock",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "stock": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/StockItem"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/read": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Read orders",
        "description": "Read orders with optional filters. By default returns the last 100 orders, but you can request up to 1000 or use pagination.\nFilters are sent as top-level keys of the JSON body (not wrapped in a `data` key).\n\nEach entry in `products` can include a `campaign` object describing the campaign the product was ordered from: `id` (integer, eMAG internal campaign ID) and `name` (string, eMAG internal campaign name).\n",
        "operationId": "readOrders",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderReadFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/save": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Save/update order",
        "description": "Save or update an order. You cannot create new orders through the API — only read and update them.\nYou can only edit orders when in status 2 (in progress) or 3 (prepared).\nWhen updating an order, send ALL the fields initially read.\n\nImportant:\n- Updating products by reducing their quantities is no longer possible for orders with the Online Card payment method.\n- Updating product prices is no longer available.\n- A canceled order can no longer be reactivated if more than 48 hours have passed since cancellation.\n- Removing a product: send status = 0 for the product or omit it — only while the order is in status 2 or 3, and not for Online Card orders.\n- Adding a product to an existing order: send product id (mandatory), name, status, sale price and currency.\n- Storno: a finalized order (status 4) cannot be modified — it can be fully reversed (status 4 → 5) or partially reversed with `is_storno: true`. Partial storno requires the order in status 4 and at least one product quantity reduced; negative quantities are rejected.\n",
        "operationId": "saveOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderSave"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/count": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Count orders",
        "description": "Count orders based on filters.\nFilters are sent as top-level keys of the JSON body (not wrapped in a `data` key).\n",
        "operationId": "countOrders",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderReadFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/acknowledge/{orderId}": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Acknowledge order",
        "description": "Acknowledge an order. This stops the order notification system for the mentioned order.\nOrder acknowledge is the only method of marking the order status as \"in progress\". Available only for 3P orders.\n",
        "operationId": "acknowledgeOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/{orderId}/unlock-courier": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Unlock courier for order",
        "description": "Unlock courier selection for a specific order",
        "operationId": "unlockCourier",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/attachments/read": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Read order attachments",
        "description": "Read attachments (invoices, warranties, etc.) for orders.\nFilters are sent as top-level keys of the JSON body (not wrapped in a `data` key).\n",
        "operationId": "readOrderAttachments",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order_id": {
                    "type": "integer"
                  },
                  "order_type": {
                    "type": "integer",
                    "enum": [
                      2,
                      3
                    ],
                    "description": "2 = fulfilled by eMAG, 3 = fulfilled by seller"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/attachments/save": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Save order attachments",
        "description": "Save attachments (invoices, warranties, etc.) for orders.\nFor invoices: use type = 1\nFor warranties: use type = 3 + order_product_id\n",
        "operationId": "saveOrderAttachments",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderAttachment"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/awb/read": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Read AWB",
        "description": "Read AWB (Air Waybill) information. Each result includes top-level\nkeys such as `emag_id`, `order_id`, `rma_id`, `type` (2 = fulfilled by\neMAG, 3 = fulfilled by seller), `weight`, `awb_type` (1 = delivery to\ncustomer, 2 = pickup from customer), an `awb` array (with `emag_id`,\n`awb_number`, `awb_barcode`), a `status` array (with `code`, `name`,\n`description`), a `courier` array (with `courier_account_id`,\n`courier_name`), `currency` and `cash_on_delivery` (added in v4.5.1 —\nthe amount the customer must pay on delivery).\n",
        "operationId": "readAWB",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emag_id": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4294967295,
                    "description": "The eMAG internal barcode id"
                  },
                  "reservation_id": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4294967295,
                    "description": "The eMAG internal AWB reservation id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/awb/save": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Save AWB",
        "description": "Issue an AWB for orders or return requests",
        "operationId": "saveAWB",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AWBSave"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/awb/read_pdf": {
      "get": {
        "tags": [
          "Shipping"
        ],
        "summary": "Read AWB PDF",
        "description": "Download an AWB PDF file. Optional parameter awb_format sets the paper format (e.g. `awb_format=A4`).\nOnly AWBs issued via API can be read — only for them you receive the `emag_id` key, which is mandatory.\n",
        "operationId": "readAWBPDF",
        "parameters": [
          {
            "name": "emag_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4294967295
            },
            "description": "The AWB's eMAG id. Must be a valid AWB in the eMAG database."
          },
          {
            "name": "awb_format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "A4",
                "A5",
                "A6",
                "ZPL"
              ]
            },
            "description": "The paper format on PDF download. Possible values are A4, A5, A6 and ZPL."
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/awb/read_zpl": {
      "get": {
        "tags": [
          "Shipping"
        ],
        "summary": "Read AWB ZPL",
        "description": "Read an AWB in ZPL format. Returns base64 encoded content.",
        "operationId": "readAWBZPL",
        "parameters": [
          {
            "name": "emag_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Base64 encoded content of the ZPL format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rma/read": {
      "post": {
        "tags": [
          "Returns"
        ],
        "summary": "Read return requests",
        "description": "Read return requests (RMA) with optional filters.\nFilters are sent as top-level keys of the JSON body (not wrapped in a `data` key).\n",
        "operationId": "readRMA",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RMAReadFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rma/save": {
      "post": {
        "tags": [
          "Returns"
        ],
        "summary": "Save/update return request",
        "description": "Save or update a return request (RMA).\n\nStatus change permissions — allowed `request_status` transitions (actual → new):\n| Actual status | Allowed new statuses |\n|---|---|\n| 2 - New | 2 - New, 3 - Acknowledged, 5 - Canceled |\n| 3 - Acknowledged | 3 - Acknowledged, 5 - Canceled, 6 - Received |\n| 4 - Rejected | 4 - Rejected (terminal) |\n| 5 - Canceled | 5 - Canceled (terminal) |\n| 6 - Received | 4 - Rejected, 6 - Received, 7 - Finalized |\n| 7 - Finalized | 7 - Finalized (terminal) |\n\nSome statuses were left out by design; these should not be used in any seller implementation.\n",
        "operationId": "saveRMA",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RMASave"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rma/count": {
      "post": {
        "tags": [
          "Returns"
        ],
        "summary": "Count return requests",
        "description": "Count return requests based on filters.\nFilters are sent as top-level keys of the JSON body (not wrapped in a `data` key).\n",
        "operationId": "countRMA",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RMAReadFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/category/read": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Read categories",
        "description": "Read categories, characteristics and family_types.\nReading categories without parameters will generate a response containing the first 100 categories.\nWhen passing a category id, the API will return the category name and the list of available characteristics.\n",
        "operationId": "readCategories",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "EN",
                "RO",
                "HU",
                "BG",
                "PL",
                "GR",
                "DE"
              ]
            },
            "description": "Language for category names (default: platform language). Available languages: EN, RO, HU, BG, PL, GR and DE (e.g. ?language=en)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Category eMAG id"
                  },
                  "currentPage": {
                    "type": "integer",
                    "description": "Current page displayed"
                  },
                  "itemsPerPage": {
                    "type": "integer",
                    "description": "Number of categories per page"
                  },
                  "valuesCurrentPage": {
                    "type": "integer",
                    "description": "Current page for characteristic values"
                  },
                  "valuesPerPage": {
                    "type": "integer",
                    "description": "Items per page for characteristic values"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/category/count": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Count categories",
        "description": "Count categories",
        "operationId": "countCategories",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vat/read": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Read VAT rates",
        "description": "Read available VAT rates and their corresponding IDs",
        "operationId": "readVAT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/handling_time/read": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Read handling time values",
        "description": "Read available handling time values",
        "operationId": "readHandlingTime",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locality/read": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Read localities",
        "description": "Read localities (cities, regions) for AWB issuing.\nWhen not using the country filter, the API responds only with localities from the platform country.\n\nResponse shape — each locality has:\n- `emag_id` (integer) — the id of the locality\n- `name` / `name_latin` (string, 0-60)\n- `region1`..`region4` / `region1_latin`..`region4_latin` (string, 0-60) — region names\n- `geoid` (integer) — geographic id of the location\n- `modified` (Y-m-d H:i:s) — last modification date\n- `zipcode` (string, 0-10) — the zipcode of the locality\n- `country_code` (alpha-2 string)\n- `iso2` (string) — combination between the country's code and the county's code\n",
        "operationId": "readLocalities",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emag_id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 60
                  },
                  "region2": {
                    "type": "string",
                    "maxLength": 60
                  },
                  "country_code": {
                    "type": "string",
                    "enum": [
                      "RO",
                      "BG",
                      "HU",
                      "PL",
                      "EL",
                      "DE"
                    ]
                  },
                  "modified": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "itemsPerPage": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "currentPage": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 65535
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locality/count": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Count localities",
        "description": "Count localities based on filters",
        "operationId": "countLocalities",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emag_id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 60
                  },
                  "modified": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/courier_accounts/read": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Read courier accounts",
        "description": "Read available courier accounts for AWB issuing.\n\nResponse shape — each account has:\n- `account_id` (integer)\n- `account_display_name` (string, 0-60)\n- `courier_account_type` (integer) — 1 = RMA, 2 = Order, 3 = RMA & Order, 4 = Non Marketplace\n- `courier_name` (string)\n- `courier_account_properties` (array of integers) — 0 = Regular (HD), 2 = Lockers, 6 = Offices, 8 = Crossborder, 9 = BPO\n- `created` (Y-m-d H:i:s)\n- `status` (integer) — 1 = Active, 0 = Inactive\n- `pickup_country_code` (string, alpha-2)\n",
        "operationId": "readCourierAccounts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/addresses/read": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Read addresses",
        "description": "Read pickup/return addresses for AWB issuing.\n\nResponse shape — each address has:\n- `address_id` (string, 0-21)\n- `country_id` (integer)\n- `country_code` (alpha-2 string, 0-45)\n- `address_type_id` (integer) — 1 = return, 2 = pickup, 3 = invoice (HQ), 4 = delivery estimates\n- `locality_id` (integer)\n- `suburb` (string, county, 0-200)\n- `city` (string, 0-300)\n- `address` (string — street, number, etc., 0-65535)\n- `zipcode` (string, 0-100)\n- `quarter` (string, 0-200)\n- `floor` (string, 0-100)\n- `is_default` (boolean) — true if address is set as default for pickup/return\n",
        "operationId": "readAddresses",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/awb/package/read": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Read predefined packages",
        "description": "Read predefined package dimensions (label, length, width, height, weight)\nused when issuing AWBs. You can fill packages manually on /awb/save or\nrely on the predefined ones managed via this resource.\n",
        "operationId": "readAWBPackages",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/awb/package/save": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Save predefined packages",
        "description": "Save or edit predefined package dimensions. To modify a package or\nchange the default package, provide all packages with all keys and\nchange the values where needed. Setting `is_default: true` automatically\nflips the previous default to false.\n",
        "operationId": "saveAWBPackages",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AWBPackage"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/volumetry/read": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Read product volumetries on an order",
        "description": "Read volumetric data (weight, length, width, height) for each distinct\nproduct on an order, useful when populating the `packages` key on\n/awb/save. Volumetric data is returned only for orders with quantity 1\nper product and a single parcel or envelope.\n\nResponse shape: `order_id`, `type`, and a `volumetric_data` array with\none entry per distinct product: `product_id`, `weight`, `length`,\n`width`, `height`.\n",
        "operationId": "readOrderVolumetry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderVolumetryReadFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/read": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Read campaigns",
        "description": "Read the existing campaigns and their properties, including the participation rules an offer must meet in order to be proposed in the campaign.\n\nFilters and pagination are sent as **top-level keys** of the JSON body (not wrapped in a `data` key).\n\nResponse shape — each campaign has:\n- `id` (integer) — eMAG internal campaign ID\n- `name` (string) — eMAG internal campaign name\n- `startDate` (string, ISO 8601) — campaign start date and time\n- `endDate` (string, ISO 8601) — campaign end date and time\n- `endPreparationDate` (string, ISO 8601) — deadline for submitting offers\n- `status` (integer) — 1 = active, 0 = inactive\n- `type` (integer) — 1 = Black Friday (Black Friday campaign), 2 = Discount (discount-based campaign), 3 = Voucher (voucher-based campaign), 4 = Multi deals (Multiple Deals campaign)\n- `participationRules` (object) — campaign participation rules:\n  - `minAllowedDiscount` (string) — minimum allowed discount type (e.g. \"min. 5% or 50 RON from CMMP depending on category\")\n  - `restrictedCategories` (boolean) — true = restricted categories only (read them with /campaign_categories/read), false = all categories\n  - `geniusOffersOnly` (boolean) — true = Genius offers only, false = all offers\n  - `minStock` (integer, can be null) — minimum required stock\n  - `maxHandlingTime` (integer, can be null) — maximum handling time in days\n  - `minOfferPrice` (decimal, can be null) — minimum offer price without VAT\n  - `maxOfferPrice` (decimal, can be null) — maximum offer price without VAT\n",
        "operationId": "readCampaigns",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignReadFilter"
              },
              "example": {
                "status": 1,
                "campaignType": 2,
                "currentPage": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "example": {
                  "isError": false,
                  "messages": [],
                  "results": [
                    {
                      "id": 243409,
                      "name": "Test campaign",
                      "startDate": "2026-06-27T09:59:56+03:00",
                      "endDate": "2026-07-31T09:59:56+03:00",
                      "endPreparationDate": "2026-06-27T00:00:00+03:00",
                      "status": 1,
                      "type": 2,
                      "participationRules": {
                        "minAllowedDiscount": "min. 5% or 50 RON from CMMP depending on category",
                        "restrictedCategories": false,
                        "geniusOffersOnly": false,
                        "minStock": 10,
                        "maxHandlingTime": 3,
                        "minOfferPrice": 50,
                        "maxOfferPrice": 500
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaign_categories/read": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Read eligible categories for a campaign",
        "description": "Read the list of categories eligible for a specific campaign.\n\nThis endpoint is relevant only when `participationRules.restrictedCategories` = true for the campaign (see /campaigns/read). If `restrictedCategories` = false, all categories are eligible.\n\nPagination is sent as **top-level keys** of the JSON body (not wrapped in a `data` key).\n\nResponse shape — each category has:\n- `id` (integer) — category eMAG id\n- `scmId` (integer) — category eMAG SCM id\n- `name` (string) — category name\n- `parentId` (integer) — id of the parent category\n- `parentScmId` (integer) — SCM id of the parent category\n- `parentName` (string) — name of the parent category\n",
        "operationId": "readCampaignCategories",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pagination"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "example": {
                  "isError": false,
                  "messages": [],
                  "results": [
                    {
                      "id": 604,
                      "scmId": 1234,
                      "name": "Laptops",
                      "parentId": 12,
                      "parentScmId": 132,
                      "parentName": "IT & Electronics"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaign_id}/eligible-offers": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Read eligible offers for a campaign",
        "description": "Read the list of your offers eligible for a specific campaign.\n\nResults are paginated using a **cursor-based** mechanism (not `currentPage` / `itemsPerPage`): use the next-page URL returned in the response to fetch subsequent pages, or pass the `ext_id` of the last offer received as `lastId`.\n\nResponse shape — `results` array, each offer has:\n- `product_name` (string) — product name\n- `category` (integer) — category id\n- `brand` (string) — brand name\n- `pnk` (string) — eMAG product unique key (part_number_key)\n- `product_code` (string) — seller product code\n- `ext_id` (integer) — seller internal product id; the primary key for identifying a product offer\n- `max_product_performance` (integer) — best performance indicator for the product: 1 = SuperHot, 2 = Hot, 3 = Regular, 4 = Cold, 5 = SuperCold\n- `current_price` (decimal) — current offer price without VAT\n- `cmmp` (decimal) — smallest price in the last 30 days. The reference date is the campaign start date if the campaign has not started, or the current date if the campaign has already started. Available only for Discount or Black Friday campaigns\n- `max_campaign_price` (decimal) — the maximum price at which the offer can be added in the campaign. If null, there is no price restriction (Voucher campaigns have no price restriction)\n- `current_stock` (integer) — available stock\n- `current_commission_no_discount` (decimal) — current commission rate without discount (%)\n- `emag_support` (list of objects) — eMAG financial support tiers:\n  - `emag_support_pct` (decimal) — percentage of eMAG financial support from the discount offered by the seller\n  - `min_discount_pct` (decimal) — minimum discount percentage (price discount or voucher discount) required to qualify for this tier\n  - `emag_support_value` (decimal) — eMAG support value in platform currency\n- `campaign_id` (integer) — eMAG internal campaign ID\n- `campaign_type` (string) — campaign type: discount or voucher\n",
        "operationId": "readCampaignEligibleOffers",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "eMAG internal campaign ID",
            "example": 2097
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Number of results per page",
            "example": 50
          },
          {
            "name": "lastId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Cursor for pagination — the `ext_id` of the last offer from the previous response",
            "example": 10178
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "example": {
                  "isError": false,
                  "messages": [],
                  "results": [
                    {
                      "product_name": "Samsung Galaxy S24",
                      "category": 123,
                      "brand": "Samsung",
                      "pnk": "ES0NKBBBM",
                      "product_code": "SGS24-BLK",
                      "ext_id": 5678901,
                      "max_product_performance": 1,
                      "current_price": 2999,
                      "cmmp": 2850,
                      "max_campaign_price": 2999,
                      "current_stock": 45,
                      "current_commission_no_discount": 8.5,
                      "emag_support": [
                        {
                          "emag_support_pct": 30,
                          "min_discount_pct": 15,
                          "emag_support_value": 12.96
                        }
                      ],
                      "campaign_id": 2097,
                      "campaign_type": "discount"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaign_proposals/save": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Save campaign proposals",
        "description": "Propose offers in campaigns.\n\nTo find what you can propose, read the campaigns and their participation rules (/campaigns/read), the eligible categories when the campaign has restricted categories (/campaign_categories/read) and your eligible offers (/campaigns/{campaign_id}/eligible-offers).\n\nRequired keys per proposal: `id`, `sale_price` and `campaign_id`. Some keys are required depending on the campaign type: `max_qty_per_order` is mandatory for stock-in-site campaigns, `date_intervals` (with each interval's `start_date`, `end_date`, `voucher_discount` and `index`) is required for MultiDeals campaigns, and `voucher_discount` is optional or required depending on the campaign type.\n",
        "operationId": "saveCampaignProposals",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignProposal"
                    },
                    "maxItems": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-3/smart-deals-price-check": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Smart Deals price check",
        "description": "Check the price required to qualify for the Smart Deals badge.\nBy providing the productId, the system returns the target price needed for eligibility.\n",
        "operationId": "smartDealsPriceCheck",
        "parameters": [
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Product offer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/offers/{extId}/campaign_product_badge_timeline": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Read campaign product badge timeline",
        "description": "Read the campaign badge timeline for a specific offer. Returns all campaign badges (e.g. Black Friday, Genius Days) currently active or scheduled for the offer. If no badges are found, `results` is returned empty.\n\nSupported only for eMAG platforms (RO, BG, HU).\n\nResponse shape — `results` array, each badge has:\n- `id` (integer) — eMAG internal ID of the campaign the badge belongs to\n- `name` (string) — campaign name\n- `labelText` (string) — badge text displayed to the buyer on the product page\n- `startDate` (string, ISO 8601) — date and time from which the badge becomes visible on the offer\n- `endDate` (string, ISO 8601) — date and time at which the badge is no longer visible on the offer\n",
        "operationId": "readCampaignProductBadgeTimeline",
        "parameters": [
          {
            "name": "extId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Seller internal product ID. The same identifier used across all seller APIs.",
            "example": 555555
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "example": {
                  "isError": false,
                  "messages": [],
                  "results": [
                    {
                      "id": 111,
                      "name": "Genius Deals",
                      "labelText": "Genius Days",
                      "startDate": "2027-08-01T00:00:00+03:00",
                      "endDate": "2027-08-16T23:59:59+03:00"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api-3/invoice/categories": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Read invoice categories",
        "description": "Read all invoice categories. Response payload is a collection of category records, each containing:\n- `category` (string) — invoice type, e.g. `FC`\n- `name` (string) — invoice type name, e.g. `Commission`\n",
        "operationId": "readInvoiceCategories",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-3/invoice/read": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Read invoice data",
        "description": "Read invoice data. Without parameters, returns the last 100 invoices.\n\nResponse shape:\n- `total_results` (integer) — number of invoices identified\n- `invoices[]`:\n  - `category` (string), `name` (string), `number` (string), `date` (YYYY-mm-dd), `is_storno` (0/1)\n  - `supplier`: `name`, `register_number`, `cif`, `tax_code`, `social_capital`, `iban`, `bank`, `address`, `phone_number`\n  - `customer`: `name`, `register_number`, `cif`, `tax_code`, `iban`, `bank`, `country`, `address`\n  - `lines[]`: `product_name`, `unit_of_measure`, `quantity`, `unit_price`, `vat_rate`, `value`, `vat_value`\n  - `payment_term`, `total_without_vat`, `total_vat_value`, `total_with_vat`, `currency`\n",
        "operationId": "readInvoices",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string"
                  },
                  "number": {
                    "type": "string"
                  },
                  "date_start": {
                    "type": "string",
                    "format": "date"
                  },
                  "date_end": {
                    "type": "string",
                    "format": "date"
                  },
                  "itemsPerPage": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000
                  },
                  "currentPage": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-3/customer-invoice/read": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Read customer invoice data",
        "description": "Read customer invoice data. Without parameters, returns the last 100 invoices.\n\nResponse shape:\n- `total_results` (integer)\n- `invoices[]`:\n  - `category` (`normal`|`storno`), `order_id`, `number`, `date` (YYYY-mm-dd), `is_storno` (0/1), `reversal_for` (string — invoice cancelled through this one)\n  - `supplier`: `name`, `register_number`, `cif`, `tax_code`, `social_capital`, `iban`, `bank`, `country`, `address`\n  - `customer`: `name`, `register_number`, `cif`, `tax_code`, `iban`, `bank`, `country`, `address`\n  - `lines[]`: `product_name`, `unit_of_measure`, `quantity`, `unit_price`, `vat_rate`, `value`, `vat_value`\n  - `total_without_vat`, `total_vat_value`, `total_with_vat`, `currency`\n",
        "operationId": "readCustomerInvoices",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "enum": [
                      "normal",
                      "storno"
                    ]
                  },
                  "order_id": {
                    "type": "integer"
                  },
                  "number": {
                    "type": "string"
                  },
                  "date_start": {
                    "type": "string",
                    "format": "date"
                  },
                  "date_end": {
                    "type": "string",
                    "format": "date"
                  },
                  "itemsPerPage": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000
                  },
                  "currentPage": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic Authentication using username and password.\nThe credentials should be base64 encoded as: base64(username:password)\nThe user must be granted API rights in order to access the API.\nThe API also has IP-level filtering: sellers must provide a list of whitelisted IPs before testing — API calls are allowed only from those IPs.\n"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "required": [
          "isError"
        ],
        "properties": {
          "isError": {
            "type": "boolean",
            "description": "Boolean value representing response status. Must be false for successful requests."
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Messages included in the response, like error messages, etc."
          },
          "results": {
            "type": "array",
            "items": {},
            "description": "Results included in the response, mostly when reading resources."
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "currentPage": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Set current page displayed"
          },
          "itemsPerPage": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 100,
            "description": "Set number of items to be displayed in one page. Maximum is 100."
          }
        }
      },
      "ProductOfferReadFilter": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Pagination"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "minimum": 1,
                "maximum": 4294967295,
                "description": "Displays the details for the corresponding ext_id"
              },
              "status": {
                "type": "integer",
                "enum": [
                  0,
                  1
                ],
                "description": "Returns only the offers with this status. 1 = active, 0 = inactive. Note: only 0 and 1 are supported as filter values; offers may still carry status 2 (End of Life) in read responses. Send this filter as a top-level key of the request body."
              },
              "part_number": {
                "type": "string",
                "description": "Displays the details for the corresponding part_number"
              },
              "part_number_key": {
                "type": "string",
                "description": "Displays the details for the corresponding part_number_key"
              },
              "general_stock": {
                "type": "integer",
                "description": "Returns only offers with numerical general_stock between 0 and the input"
              },
              "estimated_stock": {
                "type": "integer",
                "description": "Returns only offers with numerical estimated_stock between 0 and the input"
              },
              "offer_validation_status": {
                "type": "integer",
                "enum": [
                  1,
                  2
                ],
                "description": "1 = Saleable, 2 = Invalid price"
              },
              "validation_status": {
                "type": "integer",
                "enum": [
                  1,
                  2,
                  3,
                  4,
                  5,
                  6,
                  8,
                  9,
                  10,
                  11,
                  12
                ],
                "description": "Returns only the results with this validation status. 1 = Awaiting MKTP validation, 2 = Awaiting Brand validation, 3 = Awaiting EAN validation, 4 = Awaiting Documentation Validation, 5 = Rejected Brand, 6 = Rejected EAN, 8 = Rejected Documentation, 9 = Approved Documentation, 10 = Blocked, 11 = Documentation update validation pending, 12 = Update rejected"
              },
              "translation_validation_status": {
                "type": "integer",
                "enum": [
                  1,
                  2,
                  3,
                  4,
                  5,
                  6,
                  8,
                  9,
                  10,
                  11,
                  12,
                  13,
                  14,
                  15,
                  16,
                  17
                ],
                "description": "Returns only the results with this translation validation status. 1 = Awaiting MKTP validation, 2 = Awaiting Brand validation, 3 = Awaiting EAN validation, 4 = Awaiting Documentation Validation, 5 = Rejected Brand, 6 = Rejected EAN, 8 = Rejected Documentation, 9 = Approved Documentation, 10 = Blocked, 11 = Documentation update validation pending, 12 = Update rejected, 13 = Waiting for salable offer, 14 = Unsuccessful translation, 15 = Translation in progress, 16 = Translation pending, 17 = Partial translation"
              }
            }
          }
        ]
      },
      "ProductOfferSave": {
        "type": "object",
        "description": "Product + offer payload for product_offer/save.\n- When sending a NEW product, the product documentation keys are also mandatory: category_id, name, part_number, brand (plus warranty/ean when the category requires them).\n- When UPDATING an existing offer, the mandatory keys are: id, status, sale_price, vat_id, handling_time, stock — send only the offer, without the documentation.\n",
        "required": [
          "id",
          "status",
          "sale_price",
          "vat_id",
          "handling_time",
          "stock"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 1,
            "maximum": 16777215,
            "description": "Seller internal product id. Primary key for identifying a product offer."
          },
          "category_id": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535,
            "description": "Product category eMAG id"
          },
          "vendor_category_id": {
            "type": "integer",
            "description": "Seller internal category id"
          },
          "part_number_key": {
            "type": "string",
            "description": "eMAG part_number_key. Used for attaching a product offer to an existing product.\nIf you want to create new product, don't set this key.\n"
          },
          "source_language": {
            "type": "string",
            "enum": [
              "en_GB",
              "ro_RO",
              "pl_PL",
              "bg_BG",
              "hu_HU",
              "de_DE",
              "it_IT",
              "fr_FR",
              "es_ES",
              "nl_NL",
              "cs_CZ",
              "ru_RU",
              "el_GR",
              "lt_LT",
              "sk_SK",
              "uk_UA"
            ],
            "description": "The language of the product content input. Defaults per platform: ro_RO on eMAG RO, bg_BG on eMAG BG, hu_HU on eMAG HU."
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Product name"
          },
          "part_number": {
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "description": "Manufacturer unique identifier of the product. Important: spaces, comma and semicolon are automatically stripped (e.g. \"part number;\" is saved as \"partnumber\")."
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 16777215,
            "description": "Product description. Can contain basic HTML tags."
          },
          "brand": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Brand name"
          },
          "force_images_download": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "default": 0,
            "description": "0 = images downloaded only if link changed, 1 = force download"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "url"
              ],
              "properties": {
                "display_type": {
                  "type": "integer",
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "default": 0,
                  "description": "1 = main image, 2 = secondary image, 0 = other images"
                },
                "url": {
                  "type": "string",
                  "format": "uri",
                  "minLength": 1,
                  "maxLength": 1024,
                  "description": "Seller image URL. Max 6000px x 6000px and 8 Mb. JPG, JPEG or PNG."
                }
              }
            }
          },
          "images_overwrite": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "1 = overwrite images, 0 = append images"
          },
          "characteristics": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "value"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 65535,
                  "description": "Characteristic eMAG id"
                },
                "value": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "description": "Characteristic value"
                },
                "tag": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255,
                  "description": "Characteristic tag value (for characteristics with tags)"
                }
              }
            }
          },
          "family": {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "integer",
                "description": "Family id. Required. Set to 0 to remove product from family"
              },
              "name": {
                "type": "string",
                "description": "Seller Family name. Required if family id is not equal to 0."
              },
              "family_type_id": {
                "type": "integer",
                "description": "eMAG Family type id. Required if family id is not equal to 0."
              }
            }
          },
          "url": {
            "type": "string",
            "format": "uri",
            "minLength": 1,
            "maxLength": 1024,
            "description": "Product URL on the seller website"
          },
          "warranty": {
            "type": "integer",
            "minimum": 0,
            "maximum": 255,
            "description": "The warranty offered in months. Required/Optional based on category (see is_warranty_mandatory on category/read). Default value: 0 (no warranty) when optional."
          },
          "ean": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 6,
              "maxLength": 14,
              "pattern": "^\\d+$"
            },
            "description": "Product barcode identifier (EAN-8, EAN-13, UPC-A, UPC-E, JAN, ISBN-10, ISBN-13, ISSN, ISMN-10, ISMN-13, GTIN-14). Required/Optional based on category (see is_ean_mandatory on category/read)."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "url"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 4294967295,
                  "description": "Seller attachment internal id"
                },
                "url": {
                  "type": "string",
                  "format": "uri",
                  "minLength": 1,
                  "maxLength": 1024,
                  "description": "Seller attachment URL. Max 10 Mb."
                }
              }
            }
          },
          "status": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "Seller offer status. 2 = End of Life, 1 = active, 0 = inactive. Note: status = 2 should be used only when updating an existing offer, not when creating one."
          },
          "sale_price": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Seller offer sale price without VAT. Up to four decimals."
          },
          "recommended_price": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Recommended retail price before discount, without VAT. Must be greater than sale_price."
          },
          "min_sale_price": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Seller's min offer sale price without VAT. Required on first product save."
          },
          "max_sale_price": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Seller's max offer sale price without VAT. Required on first product save. Must be greater than min_sale_price."
          },
          "currency_type": {
            "type": "string",
            "enum": [
              "EUR",
              "PLN"
            ],
            "maxLength": 3,
            "description": "Offer currency. Only send if different from local Marketplace currency."
          },
          "stock": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StockItem"
            },
            "description": "Offer available quantity array"
          },
          "handling_time": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HandlingTimeItem"
            },
            "description": "Handling time array. If no array is sent, products are shipped the same day."
          },
          "supply_lead_time": {
            "type": "integer",
            "enum": [
              2,
              3,
              5,
              7,
              14,
              30,
              60,
              90,
              120
            ],
            "default": 14,
            "description": "Number of days needed to restock the product"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "For new offers: date your offer will be available from.\nFor updates: schedules value updates for sale_price, recommended_price, stock, handling_time, vat_id, warranty, status.\nDate can be as far as 60 days in the future (cannot be earlier than tomorrow).\n"
          },
          "vat_id": {
            "type": "integer",
            "description": "Seller offer VAT rate id. Use /vat/read to display possible values."
          },
          "emag_club": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "default": 1,
            "description": "Indicates if offer should be available in eMAG Genius program. 1 = yes, 0 = no"
          },
          "safety_information": {
            "type": "string",
            "minLength": 1,
            "maxLength": 16777215,
            "description": "GPSR safety information. Warnings contained in the product."
          },
          "manufacturer": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "object",
              "required": [
                "name",
                "address",
                "email"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200,
                  "description": "Manufacturer name"
                },
                "address": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500,
                  "description": "Manufacturer address"
                },
                "email": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100,
                  "format": "email",
                  "description": "Manufacturer email"
                }
              }
            },
            "description": "GPSR manufacturer information. Maximum 10 sets."
          },
          "eu_representative": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "object",
              "required": [
                "name",
                "address",
                "email"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200,
                  "description": "EU representative name"
                },
                "address": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500,
                  "description": "EU representative address"
                },
                "email": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100,
                  "format": "email",
                  "description": "EU representative email"
                }
              }
            },
            "description": "GPSR EU representative information. Maximum 10 sets."
          },
          "green_tax": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "The value for Green tax that will be displayed on site. This value includes VAT.\nAvailable only for eMAG RO platform. Up to four decimals.\n"
          }
        }
      },
      "OfferSave": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Seller internal product id (mandatory)"
          },
          "sale_price": {
            "type": "number",
            "format": "float",
            "description": "Seller offer sale price without VAT"
          },
          "recommended_price": {
            "type": "number",
            "format": "float",
            "description": "Recommended retail price before discount, without VAT"
          },
          "min_sale_price": {
            "type": "number",
            "format": "float",
            "description": "Seller's min offer sale price without VAT"
          },
          "max_sale_price": {
            "type": "number",
            "format": "float",
            "description": "Seller's max offer sale price without VAT"
          },
          "currency_type": {
            "type": "string",
            "enum": [
              "EUR",
              "PLN"
            ],
            "description": "Offer currency"
          },
          "stock": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StockItem"
            }
          },
          "handling_time": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HandlingTimeItem"
            }
          },
          "vat_id": {
            "type": "integer",
            "description": "Seller offer VAT rate id"
          },
          "status": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "Seller offer status. 2 = End of Life, 1 = active, 0 = inactive. Note: status = 2 should be used only for updates (this endpoint only updates existing offers)."
          }
        }
      },
      "StockItem": {
        "type": "object",
        "required": [
          "warehouse_id",
          "value"
        ],
        "properties": {
          "warehouse_id": {
            "type": "integer",
            "description": "The id of the warehouse. Use warehouse_id=1 for only one warehouse."
          },
          "value": {
            "type": "integer",
            "minimum": 0,
            "maximum": 65535,
            "description": "Offer available quantity"
          }
        }
      },
      "HandlingTimeItem": {
        "type": "object",
        "required": [
          "warehouse_id",
          "value"
        ],
        "properties": {
          "warehouse_id": {
            "type": "integer",
            "description": "The id of the warehouse. Use warehouse_id=1 for only one warehouse."
          },
          "value": {
            "type": "integer",
            "minimum": 0,
            "maximum": 255,
            "default": 0,
            "description": "Handling time in number of days counted from the day the order was received. 0 = shipped same day."
          }
        }
      },
      "Measurement": {
        "type": "object",
        "required": [
          "id",
          "length",
          "width",
          "height",
          "weight"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 1,
            "maximum": 16777215,
            "description": "Seller internal product id"
          },
          "length": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 999999,
            "description": "The length of the product in millimeters (mm). Up to two decimals."
          },
          "width": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 999999,
            "description": "The width of the product in millimeters (mm). Up to two decimals."
          },
          "height": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 999999,
            "description": "The height of the product in millimeters (mm). Up to two decimals."
          },
          "weight": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 999999,
            "description": "The weight of the product in grams (g). Up to two decimals."
          }
        }
      },
      "OrderReadFilter": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Pagination"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "minimum": 1,
                "maximum": 4294967295,
                "description": "Only the order with this value."
              },
              "status": {
                "description": "Only orders with the specified status. Single value or list. 1 = New, 2 = In progress, 3 = Prepared, 4 = Finalized, 0 = Canceled, 5 = Returned",
                "oneOf": [
                  {
                    "type": "integer",
                    "enum": [
                      0,
                      1,
                      2,
                      3,
                      4,
                      5
                    ]
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "enum": [
                        0,
                        1,
                        2,
                        3,
                        4,
                        5
                      ]
                    }
                  }
                ]
              },
              "createdBefore": {
                "type": "string",
                "description": "Only orders created before the specified date. Can only be set if createdAfter is present. Maximum 1 month difference. Format: YYYY-mm-dd HH:ii:ss"
              },
              "createdAfter": {
                "type": "string",
                "description": "Only orders created after the specified date. Format: YYYY-mm-dd HH:ii:ss. Note: on order/count it can only be set if createdBefore is present (maximum 1 month difference); on order/read it can be used standalone."
              },
              "modifiedBefore": {
                "type": "string",
                "description": "Only orders modified before the specified date. Can only be set if modifiedAfter is present. Maximum 1 month difference. Format: YYYY-mm-dd HH:ii:ss"
              },
              "modifiedAfter": {
                "type": "string",
                "description": "Only orders modified after the specified date. Format: YYYY-mm-dd HH:ii:ss. Note: on order/count it can only be set if modifiedBefore is present (maximum 1 month difference); on order/read it can be used standalone."
              },
              "payment_mode_id": {
                "description": "Only orders with the specified payment method id. Single value or list. 1 = COD, 2 = bank transfer, 3 = online card payment",
                "oneOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                ]
              },
              "is_complete": {
                "type": "integer",
                "enum": [
                  0,
                  1
                ],
                "description": "Order completion status. 1 = complete orders, 0 = incomplete orders"
              },
              "type": {
                "type": "integer",
                "enum": [
                  2,
                  3
                ],
                "default": 3,
                "description": "Order type. 2 = fulfilled by eMAG, 3 = fulfilled by seller. Default value on /order/read is 3."
              }
            }
          }
        ]
      },
      "OrderSave": {
        "type": "object",
        "required": [
          "id",
          "status",
          "type",
          "payment_mode_id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4294967295,
            "description": "The number that uniquely identifies an order."
          },
          "status": {
            "type": "integer",
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5
            ],
            "description": "Order status: 1 = New, 2 = In progress, 3 = Prepared, 4 = Finalized, 0 = Canceled, 5 = Returned"
          },
          "is_complete": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Order completion flag: 0 = incomplete, 1 = complete"
          },
          "type": {
            "type": "integer",
            "enum": [
              2,
              3
            ],
            "description": "Order type. 2 = fulfilled by eMAG, 3 = fulfilled by seller. Required starting August 2025. Only orders with type 3 can be edited; on type 2 only attachment upload is allowed."
          },
          "payment_mode_id": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "Order payment method. 1 = COD (cash on delivery), 2 = bank transfer, 3 = online card payment"
          },
          "detailed_payment_method": {
            "type": "string",
            "description": "Detailed order payment method (e.g. \"eCREDIT\")."
          },
          "delivery_mode": {
            "type": "string",
            "enum": [
              "courier",
              "pickup"
            ],
            "description": "Order delivery method. courier = home delivery, pickup = locker delivery"
          },
          "details": {
            "$ref": "#/components/schemas/OrderDetails"
          },
          "date": {
            "type": "string",
            "description": "Cart submission timestamp. Format: YYYY-mm-dd HH:ii:ss"
          },
          "modified": {
            "type": "string",
[...]
